@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@config {
  content: [
    "./index.html",
    "./src/**/*.{html,js}",
    "./node_modules/flowbite/**/*.js"
  ];
}

@theme{
  /* Colores */

  --color-html : #E34F26;
  --color-css : #1572b6;
  --color-javascript : #F7DF1E;
  --color-angular : #DD0031;
  --color-react : #61DAFB;
  --color-node : #339933;
  --color-bootstrap : #7952B3;

  /* Breakpoints */

  --breakpoint-xs : 350px
}